In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('songdata.csv')
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \nAnd..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \nTouch me gentl..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \nWhy I had t...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57650 entries, 0 to 57649
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   artist  57650 non-null  object
 1   song    57650 non-null  object
 2   link    57650 non-null  object
 3   text    57650 non-null  object
dtypes: object(4)
memory usage: 1.8+ MB

In [5]:
df.shape

(57650, 4)

In [10]:
df = df.sample(n=5000).drop('link', axis = 1).reset_index(drop=True)

In [12]:
# Cleaning the dataset
df['song']

0                   Breaking News
1                        Stealin'
2            Do What You Gotta Do
3                            Suha
4                           A Way
                  ...
4995               Always A Woman
4996             Cheap Sunglasses
4997                     All I Do
4998            The Facts Of Love
4999    Put Your Hand In The Hand
Name: song, Length: 5000, dtype: object

In [13]:
df['text'][0]

"Everybody wanting a piece of Michael Jackson  \nReporters stalking the moves of Michael Jackson  \nJust when you thought he was done,  \nHe comes to give it again  \nThey can put around the world today  \nHe wanna write my obituary  \n  \nNo matter what, you just wanna read it again  \nNo matter what, you just wanna feed it again  \n  \nWhy is it strange that I would fall in love (fall in love)  \nWho is that boogie man you're thinkin' of (thinkin' of)  \nOr am I crazy cause I just eloped  \nThis is breaking news  \nThis is breaking news  \n  \nEverybody watching the news on Michael Jackson  \nThey wanna see that I fall cause I'm Michael Jackson  \nYou write the words to destroy like it's a weapon  \nYou turned your back on the love and you can't get it again  \n  \nNo matter what, you just want to read it again  \nNo matter what, you just want to feed it again  \n  \nWhy is it strange that I would fall in love (fall in love)  \nWho is that boogie man you're thinkin' of (your thinkin' of)  \nOr am I crazy cause I just eloped  \nThis is breaking news  \nThis is breaking news  \n  \nWhy is it strange that I would fall in love  \nWho is that boogie man you're thinkin' of  \nOr am I crazy cause I just eloped  \nThis is breaking news  \nThis is breaking news  \n  \nOn the news today they say we're crazy celebrity  \nAnd on the screen today we're on display  \nBaby  \n  \nWhy is it strange that I would fall in love (why is it strange)  \nWho is that boogie man you're thinkin' of  \nOr am I crazy cause I just eloped  \nThis is breaking news  \nThis is breaking news  \n  \nWhy is it strange that I would fall in love  \nWho is that boogie man you're thinkin' of (you keep on breaking)  \nOr am I crazy cause I just eloped  \nThis is breaking news  \nThis is breaking news  \n  \nYou're breaking the news!\n\n"

In [21]:
df['text'].str.lower().replace(r'[^a-zA-Z0-9]','').replace(r'\n', ' ',regex = True)

0       everybody wanting a piece of michael jackson  ...
1       well, put your arms around me like the circles...
2       sometimes you've got to take the heat   if you...
3       black lung got you down tonight   saving it al...
4       [verse 1]   caught in a dream of where   i wan...
                              ...
4995    she can kill with a smile, she can wound with ...
4996    when you get up in the morning and the light i...
4997    you made my soul a burning fire   you're getti...
4998    you know they say that one hand washes the oth...
4999    put your hand in the hand of the man who still...
Name: text, Length: 5000, dtype: object

In [28]:
pip install nltk

Requirement already satisfied: nltk in c:\users\1142s\anaconda3\envs\use_tensorflow\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\1142s\anaconda3\envs\use_tensorflow\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\1142s\anaconda3\envs\use_tensorflow\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\1142s\anaconda3\envs\use_tensorflow\lib\site-packages (from nltk) (2024.7.24)
Requirement already satisfied: tqdm in c:\users\1142s\anaconda3\envs\use_tensorflow\lib\site-packages (from nltk) (4.66.4)
Requirement already satisfied: colorama in c:\users\1142s\anaconda3\envs\use_tensorflow\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pip in c:\users\1142s\anaconda3\envs\use_tensorflow\lib\site-packages (24.1.2)
Collecting pip
  Downloading pip-24.2-py3-none-any.whl.metadata (3.6 kB)
Downloading pip-24.2-py3-none-any.whl (1.8 MB)
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   - -------------------------------------- 0.1/1.8 MB 1.7 MB/s eta 0:00:02
   - -------------------------------------- 0.1/1.8 MB 1.7 MB/s eta 0:00:02
   ----- ---------------------------------- 0.2/1.8 MB 2.4 MB/s eta 0:00:01
   ----------- ---------------------------- 0.5/1.8 MB 3.6 MB/s eta 0:00:01
   ------------------ --------------------- 0.8/1.8 MB 4.9 MB/s eta 0:00:01
   ----------------------- ---------------- 1.1/1.8 MB 4.9 MB/s eta 0:00:01
   ------------------------------------ --- 1.6/1.8 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 6.0 MB/s eta 0:00:01
   ---------------------------------------- 1.8/1.8 MB 5.2 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 24.1.2
    Uninstalling pip-24.1.2:
      Successfully uninstalled pip-24.1.2
Successfully installed pip-24.2
Note: you may need to restart the kernel to use updated packages.

In [33]:
# Stemming
import nltk
nltk.download('punkt')
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [ps.stem(w) for w in tokens]
    return " ".join(stemming)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\1142s\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

In [34]:
# example function
tokenization('this is my word loving loved')

'thi is my word love love'

In [35]:
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [36]:
df['text']

0       everybodi want a piec of michael jackson repor...
1       well , put your arm around me like the circl i...
2       sometim you 've got to take the heat if you 'r...
3       black lung got you down tonight save it all fo...
4       [ vers 1 ] caught in a dream of where i want t...
                              ...
4995    she can kill with a smile , she can wound with...
4996    when you get up in the morn and the light is h...
4997    you made my soul a burn fire you 're get to be...
4998    you know they say that one hand wash the other...
4999    put your hand in the hand of the man who still...
Name: text, Length: 5000, dtype: object

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [41]:
tfid = TfidfVectorizer(stop_words = 'english')
matrix = tfid.fit_transform(df['text'])

In [42]:
matrix.shape

(5000, 17391)

In [43]:
similarity = cosine_similarity(matrix)
similarity

array([[1.        , 0.01442244, 0.06046386, ..., 0.04084016, 0.03915447,
        0.03555925],
       [0.01442244, 1.        , 0.04059358, ..., 0.09764572, 0.06148046,
        0.04192381],
       [0.06046386, 0.04059358, 1.        , ..., 0.09161922, 0.13190096,
        0.02214415],
       ...,
       [0.04084016, 0.09764572, 0.09161922, ..., 1.        , 0.12769288,
        0.0187056 ],
       [0.03915447, 0.06148046, 0.13190096, ..., 0.12769288, 1.        ,
        0.06409451],
       [0.03555925, 0.04192381, 0.02214415, ..., 0.0187056 , 0.06409451,
        1.        ]])

In [50]:
def recommendation(song):
    idx = df[df['song'] == song].index[0]
    distances = sorted(list(enumerate(similarity[idx])), reverse = False, key = lambda x:x[1])
    
    songs = []
    for i in distances[1: 21]:
        songs.append(df.iloc[i[0]].song)
    return songs

In [52]:
recommendation('A Way')

['Amazing Grace',
 'All I Ask',
 'Rock Your Baby',
 'Clean Up Before She Comes',
 'Man Of The House',
 'Freestyle 2',
 'A Night In The Life Of A Blues Singer',
 'Aikendrum',
 'Paperbag Writer',
 "Pawn Shop Ain't No Place For A Wedding Ring",
 'Adeste Fideles (O Come All Ye Faithful)',
 "I'm Not Sleeping",
 'In Our Sleep',
 'Got A Lot To Say',
 'Se Te Ne Vai (Si Tu Te Vas)',
 'Am I To Believe?',
 'Bare Trees',
 'Black Sabbath',
 'National Anthem',
 'Bicycle Built For Two (version 2)']

In [57]:
import pickle

# Replace df and similarity with your actual data variables
pickle.dump(df, open('df.pkl', 'wb'))
pickle.dump(similarity, open('similarity.pkl', 'wb'))